trigger_file="$HOME/.customize_shell"

if [ -f "$trigger_file" ]; then

# cleanup ~/.bashrc
sed -i '1,/#-----autodelete_lines_below-----#/!d' ~/.bashrc 
sed -i -n '/#-----autodelete_lines_below-----#/q;p' ~/.bashrc

#bash_config

rm -f "$trigger_file"

fi

#custom_aliases
alias l.='ls -d .* --color=auto'
alias ll='ls -l --color=auto'
alias ls='ls --color=auto'
